.wrapper {
    min-height: 100rem;
    .layout {
        width: 100%;
    }
}
.bg-primary {
  background-color: yellow !important;
}
.table-danger {
    background-color: red;
    text-align: center;
}