.wrapper {
    --search-border-radius: 9.2rem;
    --search-height: 4.6rem;
    --search-top-spacer: 0.9rem;
    --search-width: 5.2rem;


    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header--height);
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    background-color: var(--white);
  
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Logo 
.logo {
    user-select: none;
   img {
    padding-left: 1.6rem;
    display: flex;
    align-items: center;
    
   }
}

// Action
.more-btn {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: transparent;
    padding: 4px 8px;
}

.action {
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    &-btn {
        height: 60%;
        cursor: pointer;
        font-size: 2rem;
        background-color: transparent;
        padding: 4px 12px;
    }
    .icon-mes {
        display: flex;
        align-items: center;
        padding-top: 1px;
        width: 2.5rem;
        height: 2.5rem;
    }
    .icon-inbox {
        display: flex;
        align-items: center;
        width: 3.2rem;
        height: 3.2rem;
    }
}
.user-avatar {
    margin: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
}
.action-upload {
    margin-right: 1rem;
    .icon-upload {
        margin-right: 0.5rem;
    }
}
