.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--default-layout-header--height);
}
.container {
    width: var(--default-layout-width);
    display: flex;
}
.content {
    flex: 1;
}